@model IEnumerable<AppPizzasUTN.Entidades.Pizzas_Ingredientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
